<%-include('up')%>
<div class="row margin-top">
	<div class="container-fluid">
		<img src="/images/banquets/<%=banq.id%>.jpg" alt="Banquet Image" class="img-thumbnail img-responsive" width="100%" style="height:400px;object-fit:cover">
		<div class="container">
			<h2><%=banq.name%></h2>
			<span class="col-sm-6">
				<p><%=banq.description%></p>
			</span>
			<%if(user) {%>
				<div class="pull-right">
					<form class="form-horizontal" action="/<%=user.id%>/b/<%=banq.id%>" method="post">
						<input type="submit" class="btn btn-lg btn-default" value="Book This Venue">
					</form>
				</div>
			<% } %>
		</div>
	</div>
</div>
<%-include('down')%>
