<%-include('up')%>

<% if(!banqs) { %>
	<%-include('error_msg')%>
<% } %>
<div class="row margin-top">
	<div class="container-fluid">
		<%if(banqs) {%>
			<%for (var i = 0; i < banqs.length; i++) {%>
				<%if(!user) { %>
					<a href="/banq/<%=banqs[i].id%>" style="color:#000">
				<% } else {%>
					<a href="/users/<%=user.id%>/b/<%=banqs[i].id%>" style="color:#000">
				<% } %>
					<div class="col-sm-4">
						<img src="/images/banquets/<%=banqs[i].id%>.jpg" alt="# Banquet Image" height="200px" class="img-thumbnail cover">
						<h2><%=banqs[i].name%></h2>
						<p><%=banqs[i].description%></p>
					</div>
				</a>
			<%}%>
		<%}%>
	</div>
</div>
<%-include('down')%>
