<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
		</button>
      	<a class="navbar-brand" href="<%if(!user) {%>/<%}else {%>/users/<%=user.id%><%}%>"><i class="glyphicon glyphicon-glass"></i> VB - Express</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="myNavbar">
      	<ul class="nav navbar-nav">
        	<!-- <li><a href="/contact">Contact Us <span class="sr-only">(current)</span></a></li>
        	<li><a href="#">Link</a></li> -->
      	</ul>
      	<ul class="nav navbar-nav navbar-right">
			<%if(user) {%>
        		<li><a href="/users/<%=user.id%>/v/all" title="View all the venues"><i class="glyphicon glyphicon-search"></i> Find</a></li>
				<li class="dropdown">
			        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%=user.name%>
			        <span class="caret"></span></a>
			        <ul class="dropdown-menu">
						<li><a href="/users/<%=user.id%>/v/new"><i class="glyphicon glyphicon-plus-sign"></i> Register a Venue</a></li>
						<li><a href="/users/<%=user.id%>/v"><i class="glyphicon glyphicon-book"></i> Your Venues</a></li>
						<li><a href="/users/<%=user.id%>/b"><i class="glyphicon glyphicon-book"></i> Your Bookings</a></li>
						<li><a href="/logout"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
			        </ul>
			   	</li>
			<%}else {%>
	        	<li><a href="/venue/" title="View all the venues"><i class="glyphicon glyphicon-search"></i> Find</a></li>
				<li class="dropdown">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i>
					<span class="caret"></span></a>
					<ul class="dropdown-menu">
			        	<li><a href="/signup"><i class="glyphicon glyphicon-globe"></i> Sign Up</a></li>
			        	<li><a href="/login"><i class="glyphicon glyphicon-log-in"></i> Login</a></li>
					</ul>
				</li>
			<%}%>
      	</ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
